/*pra toda tela*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;/*centraliza os textos*/
    padding: 2rem;/* afastar os elementos internos da borda do navegador de cima*/
    min-height:100vh ;/*altura minima-ja entra barra de rolagem*/
    background: linear-gradient(180deg,#DB4444 0%, #3f24DD 98%);
    color:white;/*para todos os elementos*/

}
h2{
    margin-bottom: 1rem;/*aastar o conteudo abaixo dele*/
}
#multiplication-form{
    display: flex;/*colocando todos os itens um do lado do outro*/
    justify-content:center ;/*vou alinhar todos ao centro*/
    align-items: center;/*vai fazer alinhar tanto na H quanto na V*/
    flex-wrap:wrap ;/*quebra a linha se algum elemeto passar*/
    max-width: 300px;/**/
    margin: 1rem auto;/*a div vai ser centralizaa por meio desa margem,mas limitar a largura ela com max-width*/
    padding: 1rem;/*pra fazero espaçamento dos elementos*/
    background-color: #b9aeae;
    border-radius: 1rem;/*quebrar os cantinhos*/
    color: black;/*cor da letra*/


}
.form-control{
    display: flex;
    flex-direction: column;/*assim os elementos vao ficar um abaixo do outro */
    align-items: center;/*alinhou os itens ao cetro*/
    width: 100px;/*largura*/
    margin: 0 1rem; 
    /*ate aqui ficou tudo bagunçado,vamos seguir*/

}
.form-control label{
    margin-bottom: 0.6rem;
    font-size: 0.8rem;/*deixarela bem pequena*/
    font-weight: bold;/*negrito*/
}
.form-control input{
    margin-bottom: 1rem;/*pra afastar*/
    flex: 1;/*pra preencher o maximo da largura possivel do elemento pai*/
    padding: 0.6rem 0.4rem;/*pra fazer o enchemento interno do botao*/
    border: 1px solid #333;/*contorno das lacunas*/
    width: 50px;/*aqui controlou o tamanho */
    border-radius: 5px;/*quebrar os cantos*/
    text-align: center;/*alinhou o que esta dentro das lacunas*/
}
#multiplication-form input[type="submit"]{
    /*botao de enviar*/
    max-height: 50px;/*altura maxima*/
    padding: 0.6rem 1.2rem;/*pra dar um enxemento no botao*/
    width: 200px;/*uma largura dos seus elementos superiores*/
    background-color: black;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;/*criar o evento ponteiro dentro da div*/
    font-weight: bold;
}
#multiplication-operations{
    display:flex;
    flex-direction: column;/*deixarum debaixo do outro*/
    align-items: center;/*alinhar os itens*/
    max-width: 300px;/*limitar a largura*/
    margin: 1rem auto;/*colocou no padrao*/
    padding: 2rem 1rem;
    background-color: #f8f3f3;
    color:black;
    border-radius: 1rem;/*quebra os cantos*/


}
#multiplication-operation .row{
    /*aqui sera as operaçoes*/
    display: flex;/*pra colocar o resultado do lado da operação*/
    justify-content: center;/*centralizar o conteudo*/
    border: 1px solid #f3efef;/*bordinha em volta das operaçoes , dando uma ideia de tabela*/
    border-bottom:none ;
    padding: 0.5rem;/*nao mudou nada*/
    width: 150px;/*largura*//*nao afetou em nada */

}

#multiplication-operation .row:last-child{
    /*trabalhar o ultimo elemento filho, que no order-bottom, era pra tirar a linhas , mas o ultimo fica, desta maneira se trabalha apena o ultimo  */
    border-bottom: 1px solid #ccc;
    /*fiz conforme o professo */
}
#multiplication-operation .result {
    margin-left: 0.4rem;
    
}
