*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom,#ff4b4b,#8434dd);
    color: white;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}
h1{
    margin-bottom: 20px;
    text-align: center;
}
.caixa-inputs{
    background-color: white;
    color: black;
    padding: 10px,30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,2);
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:15px;
 
}
.campo{
    display:flex;
    align-self: start;
    flex-direction:column;
    margin-bottom: 4px;
    margin-top: 10px;
    margin-left: 10px;

}
.campo label{
    font-weight: bold;
    margin-bottom: 5px;
}
.campo1{
    padding-top: 1px;
    margin-left: 15px;
    border: 1px solid #552828;
    border-radius: 2px;

}
.campo2{
    padding-top: 1px;
    margin-left: 15px;
    border: 1px solid #552828;
    border-radius: 2px;

}
button{
    padding: 5px 20px;
    background-color: #333;
    color: white;
    
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    
}
button:hover{
    background-color: #555; /*aqui fica cinza quando passar por cima*/
    
}
h2{
    margin-top: 30px;
    margin-bottom: 10px;
}
.resultado{
     /*atenção tinha errado no html eixando de fora das "" e por isso nao mudava*/
    background-color: rgb(207, 72, 72);
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}
#controle{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px;
}
#controle button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: backgroud 0,3s ease;

}
#novaOperacao{
    background-color: #007bff;
    color: white;
}
#novaOperacao:hover{
    background-color: #0056b3;
}
#sairOperacao{
    background-color: #dc3545;
}
#sairOperacao:hover{
    background-color: #b02a37;
}